<p>
  <mat-toolbar>
    <button mat-icon-button class="icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <div class="navbar-menu-items">
      <div>
        <nav class="nav">
        <a class="nav_link" href="#" >Головна</a>
        <a class="nav_link" href="#" >Каталог меблів</a>
        <a class="nav_link" href="#" >Контакти</a>
        <a class="nav_link" href="#" >Про нас</a>
        <a class="nav_link" href="#" >Як купити</a>
        <a class="nav_link" href="#" >Відгуки</a>
        </nav>
      </div>
      <div class="mat-icon"> 
      <mat-icon>facebook</mat-icon>
      </div>
    </div>
  <span class="spacer"></span>
  </mat-toolbar>
</p>
