<div class="sidebar">
  <h3>Кухня</h3>
  <mat-list>
    <mat-list-item>Cтіл кухонний </mat-list-item>
    <mat-list-item>Крісло кухонне</mat-list-item>
  </mat-list>

  <h3>Спальня</h3>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Диван</span>
    </mat-list-item>
    <mat-list-item>Ліжко</mat-list-item>
  </mat-list>

  <h3>Вітальня</h3>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Стіл</span>
    </mat-list-item>
    <mat-list-item>Шафа</mat-list-item>
  </mat-list>
</div>
