<footer class="md-padding">
  <div id="btmFooter" flex>
    <div class="rm-footer">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-md-6 col-lg-4 text-center text-lg-left rm-footer-first"
          >
            <div class="rm-footer-mobile-inner">
              <div class="rm-footer-title">Зателефонуйте нам:</div>
              <ul class="list-unstyled rm-footer-phones">
                <li
                  class="d-flex align-items-center justify-content-center justify-content-lg-start"
                >
                  <mat-icon>phone</mat-icon>
                  <a href="tel:+380934009995">+38 (067) 222-22-22 </a>
                </li>
                <li
                  class="d-flex align-items-center justify-content-center justify-content-lg-start"
                >
                  <mat-icon>phone</mat-icon>
                  <a href="tel:+380676219888">+38 (067) 111-11-11</a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-3 text-center text-lg-left rm-footer-second"
          >
            <div class="rm-footer-mobile-inner">
              <div class="rm-footer-title">Час роботи</div>
              <ul class="rm-footer-text rm-footer-shedule-list list-unstyled">
                <li class="rm-footer-shedule-list-item">
                  Пн-Пт з 9.00 по 18.00
                </li>
                <li class="rm-footer-shedule-list-item">Сб, Нд - вихідні</li>
              </ul>
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-2 text-md-center text-lg-left rm-footer-fourth"
          >
            <div class="rm-footer-mobile-inner white">
              <div
                class="rm-footer-title rm-footer-title-toggle d-flex align-items-center justify-content-md-center justify-content-lg-start"
              >
                <span class="rm-footer-title-toggle-text"
                  >Ми в соціальних мережах:</span
                >
              </div>
              <ul
                class="rm-social list-unstyled d-flex flex-wrap justify-content-center justify-content-lg-start"
              >
                <li class="rm-social-item">
                  <a
                    rel="noopener noreferrer"
                    href="https://facebook.com"
                    class="rm-social-fa-facebook-f d-flex align-items-center justify-content-center"
                    target="_blank"
                    ><i class="fab fa-facebook-f"></i>https://facebook.com</a
                  >
                </li>
              </ul>
              <a
                href="mailto:instamebel.ua@gmail.com"
                class="rm-footer-mail-link"
                >test@gmail.com</a
              >
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-1 text-md-center text-lg-left rm-footer-fourth"
          >
            <div class="rm-footer-mobile-inner white">
              <div
                class="rm-footer-title rm-footer-title-toggle d-flex align-items-center justify-content-md-center justify-content-lg-start"
              >
                <span class="rm-footer-title-toggle-text">Інформація</span>
                <span class="rm-footer-title-toggle-btn d-md-none">
                  <img
                    src="catalog/view/theme/oct_remarket/img/sprite.svg#include--footer-toggle-icon"
                    alt=""
                    width="18"
                    height="12"
                  />
                </span>
              </div>
              <ul class="rm-footer-links-list list-unstyled">
                <li>
                  <a title="Про нас">Про нас</a>
                </li>
                <li>
                  <a title="Доставка та оплата">Доставка та оплата</a>
                </li>
                <li>
                  <a title="Зворотній зв'язок">Зворотній зв'язок</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="rm-footer-credits text-center">
          {{ currentYear }} © Інтернет-магазин<br />
        </div>
      </div>
    </div>
  </div>
</footer>
