@media (min-width: 768px) {
  .rm-footer {
    padding: 30px 0;
  }
}

.mat-toolbar-row {
  justify-content: space-around;
}

.rm-footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(0 0 0 / 6%);
  border-top: 1px solid #f9f9fc;
  padding: 20px 0;
  margin-top: 30px;
  width: 98%;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}

.text-center {
  text-align: center !important;
}

.rm-footer-title {
  font-weight: 500;
  font-size: 16px;
}

.rm-footer-phones {
  margin: 10px 0 5px;
  font-size: 14px;
}

.rm-footer-phones,
.rm-footer-links-list a {
  color: rgb(101, 108, 125);
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
